.btnSuccess:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.btnSuccess {
  float: left;
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 3px;
  width: 115px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.btnSuccess:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  font-size: x-large;
  text-align: center;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.displayFlex {
  display: flex;
}
.tooltip {
  position: relative;
  font-size: smaller;
  width: 35px;
  padding: 0px;
  border-radius: 20px;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 235px;
  font-size: 22px;
  background-color: #eee;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}

.hide {
  display:  none;
}